<div class="l-searchResult is-list"
     data-bind="attr: { 'id': 'property-' + id() }, css: { 'is-hidden': hasNoDetails, 'is-list': isList}"
     data-test="propertyCard-0" id="property-81925213">
    <div class="propertyCard propertyCard--featured"
         data-bind="css: {'propertyCard--premium': premiumListing, 'propertyCard-hideMobileIconsMVT': hideMobileIcons, 'propertyCard--featured': featuredProperty, 'propertyCard--saved': isPropertySaved }"
         itemscope="" itemtype="http://schema.org/Residence">
        <a class="propertyCard-anchor" id="prop81925213"></a>
        <div class="propertyCard-wrapper">
            <div class="propertyCard-images">
                <div class="propertyCard-main-img-mask aspect-3x2">
                    <div class="propertyCard-main-img">
                        <a class="propertyCard-img-link aspect-3x2" data-test="property-img"
                           href="/property-to-rent/property-81925213.html">
                            <div class="propertyCard-img">
                                <div class="no-svg-camera camera">
                                    <svg>
                                        <use xlink:href="#core-icon--camera">
                                        </use>
                                    </svg>
                                </div>
                                <img alt="Property Image 1" itemprop="image"
                                     src="https://media.rightmove.co.uk:443/dir/crop/10:9-16:9/73k/72716/81925213/72716_29790713_IMG_01_0000_max_476x317.jpg"/>
                                <span class="propertyCard-awaitingImage"> <div class="no-svg-awaiting-image">
<svg>
<use xlink:href="#core-icon--awaiting-image">
</use></svg>
</div>
</span>
                            </div>
                        </a>
                    </div>
                </div>
                <a class="propertyCard-additionalImgs" href="/property-to-rent/property-81925213.html"
                   title="Additional property images">
                    <div class="propertyCard-additionalImg aspect-3x2">
                        <div class="propertyCard-img">
                            <div class="no-svg-camera camera">
                                <svg>
                                    <use xlink:href="#core-icon--camera">
                                    </use>
                                </svg>
                            </div>
                            <img alt="Placeholder Image" src=""/>
                            <span class="propertyCard-awaitingImage"> <div class="no-svg-awaiting-image">
<svg>
<use xlink:href="#core-icon--awaiting-image">
</use></svg>
</div>
</span>
                        </div>
                    </div>
                    <div class="propertyCard-additionalImg aspect-3x2 propertyCard-additionalImg--gridLayout">
                        <div class="propertyCard-img">
                            <div class="no-svg-camera camera">
                                <svg>
                                    <use xlink:href="#core-icon--camera">
                                    </use>
                                </svg>
                            </div>
                            <img alt="Placeholder Image" src=""/>
                            <span class="propertyCard-awaitingImage"> <div class="no-svg-awaiting-image">
<svg>
<use xlink:href="#core-icon--awaiting-image">
</use></svg>
</div>
</span>
                        </div>
                    </div>
                </a>
            </div>
            <span class="propertyCard-carousel"></span>
            <div class="propertyCard-moreInfo">
                <div class="propertyCard-moreInfoMeta">
                    <a aria-label="Floor plan" class="propertyCard-moreInfoItem" data-test="property-floorplan-icon"
                       title="Floor plan">
                        <div class="no-svg-floorplan propertyCard-moreInfoIcon">
                            <svg>
                                <use xlink:href="#core-icon--floorplan">
                                </use>
                            </svg>
                        </div>
                    </a>
                    <a aria-label="Images" class="propertyCard-moreInfoItem" data-test="property-camera-icon"
                       title="Images">
                        <div class="no-svg-camera propertyCard-moreInfoIcon">
                            <svg>
                                <use xlink:href="#core-icon--camera">
                                </use>
                            </svg>
                        </div>
                        <span class="propertyCard-moreInfoNumber">8</span>
                    </a>
                </div>
                <div class="propertyCard-moreInfoFeaturedTitle"><!-- ko text: heading -->Featured Property<!-- /ko -->
                    <!-- ko text: spotlightText --> – Premium Listing<!-- /ko --></div>
            </div>
            <div class="propertyCard-header">
                <div class="propertyCard-price"><a class="propertyCard-priceLink propertyCard-rentalPrice"
                                                   data-bind="click: propertyCardClick('price'), attr: { href: computedDetailsLink() }"
                                                   data-test="property-header"
                                                   href="/property-to-rent/property-81925213.html">
                    <div class="propertyCard-rentalPrice-primary">
                        <span class="propertyCard-priceValue"
                              data-bind="text: price.displayPrices()[0] ? price.displayPrices()[0].displayPrice : ''">£2,999 pcm</span>
                        <span class="propertyCard-priceQualifier"
                              data-bind="text: price.displayPrices()[0] ? price.displayPrices()[0].displayPriceQualifier : ''"></span>
                    </div>
                </a>
                    <div class="propertyCard-rentalPrice-secondary">
                        <a class="propertyCard-priceLink"
                           data-bind="click: propertyCardClick('price'), attr: { href: computedDetailsLink() }"
                           data-test="property-header" href="/property-to-rent/property-81925213.html">
                            <span class="propertyCard-secondaryPriceValue"
                                  data-bind="text: price.displayPrices()[1] ? price.displayPrices()[1].displayPrice : ''"></span>
                            <span class="propertyCard-secondaryPriceQualifier"
                                  data-bind="text: price.displayPrices()[1] ? price.displayPrices()[1].displayPriceQualifier : ''"></span>
                        </a>
                    </div>
                    <div class="propertyCard-priceContacts">
                        <a class="propertyCard-contactButton propertyCard-contactButton--phone" title="Call agent">
                            <div class="no-svg-phone propertyCard-contactButtonIcon propertyCard-contactButtonIcon--phone">
                                <svg>
                                    <use xlink:href="#search-icon--phone">
                                    </use>
                                </svg>
                            </div>
                        </a>
                        <a class="propertyCard-contactButton" title="Email agent">
                            <div class="no-svg-envelope propertyCard-contactButtonIcon propertyCard-contactButtonIcon--envelope">
                                <svg>
                                    <use xlink:href="#search-icon--envelope">
                                    </use>
                                </svg>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- ko if: showPremiumListingLabel -->
                <a class="propertyCard-headerLink" href="/property-to-rent/property-81925213.html">
                    <div class="propertyCard-premiumLabel" data-test="property-premium-label"></div>
                </a>
                <!-- /ko -->
            </div>
            <div class="propertyCard-content">
                <div class="propertyCard-section">
                    <div class="propertyCard-branchLogo">
                        <a class="propertyCard-branchLogo-link" data-test="property-branch-logo"
                           href="/estate-agents/agent/Parkheath/West-Hampstead-72716.html"
                           title="Parkheath , West Hampstead">
                            <img alt="Parkheath , West Hampstead Logo" class="propertyCard-branchLogo-image"/>
                        </a>
                    </div>
                    <div class="propertyCard-details">
                        <a class="propertyCard-link" data-test="property-details"
                           href="/property-to-rent/property-81925213.html">
                            <h2 class="propertyCard-title" itemprop="name">
                                4 bedroom flat </h2>
                            <address class="propertyCard-address" itemprop="address" itemscope=""
                                     itemtype="http://schema.org/PostalAddress">
                                <meta content="Lymington Road, West Hampstead, London" itemprop="streetAddress"/>
                                <meta content="GB" itemprop="addressCountry"/>
                                <span>Lymington Road, West Hampstead, London</span>
                            </address>
                        </a>
                    </div>
                    <div class="propertyCard-description">
                        <a class="propertyCard-link" href="/property-to-rent/property-81925213.html">
                            <span data-test="property-description" itemprop="description">Large mansion apartment - Central West Hampstead location - Generously proportioned rooms throughout - Wooden floors and neutral decor throughout - Open plan kitchen/reception room - Lift - Bathrooms and additional WC - Suitable for professional sharers - Council ...</span>
                        </a>
                    </div>
                </div>
                <div class="propertyCard-detailsFooter">
                    <div class="propertyCard-fadeOut"></div>
                    <div class="propertyCard-tag">
                        <span class="propertyCard-tagTitle propertyCard-tagTitle--display-status"
                              data-test="property-status"></span><span class="propertyCard-tagTitle"
                                                                       data-test="property-status">Commercial</span><span
                            class="propertyCard-tagTitle propertyCard-tagTitle--development"
                            data-test="property-status">New Home</span>
                        <span class="propertyCard-tagLink" data-test="property-status">
<a class="linkBox-bodyLink" rel="nofollow">
<span>Development Microsite</span>
<div class="propertyCard-tagLink-chevron">
<svg>
<use xlink:href="#core-icon--chevron"></use>
</svg>
</div>
</a>
</span>
                    </div>
                    <div class="propertyCard-branchSummary">
                        <span class="propertyCard-branchSummary-addedOrReduced">Reduced on 09/07/2020</span>
                        <span class="propertyCard-branchSummary-branchName"> by Parkheath , West Hampstead</span>
                    </div>
                </div>
            </div>
            <div class="propertyCard-contacts">
                <span class="propertyCard-contactsAddedOrReduced">Reduced on 09/07/2020</span>
                <div class="propertyCard-contactsItem">
                    <div class="propertyCard-branchLogo">
                        <a class="propertyCard-branchLogo-link" data-test="property-branch-logo"
                           href="/estate-agents/agent/Parkheath/West-Hampstead-72716.html"
                           title="Parkheath , West Hampstead">
                            <img alt="Parkheath , West Hampstead Logo" class="propertyCard-branchLogo-image"/>
                        </a>
                    </div>
                </div>
                <div class="propertyCard-contactsItem">
                    <a class="propertyCard-contactButton propertyCard-contactButton--phone" title="Call agent">
                        <div class="no-svg-phone propertyCard-contactButtonIcon propertyCard-contactButtonIcon--phone">
                            <svg>
                                <use xlink:href="#search-icon--phone">
                                </use>
                            </svg>
                        </div>
                    </a>
                    <p class="propertyCard-contactsItemDetails propertyCard-contactsItemDetails--phone">
                        <a class="propertyCard-contactsPhoneNumber" data-test="contact-agent-phone-number">020 8012
                            1884</a>
                        <span class="propertyCard-contactsPhoneRates">Local call rate</span>
                    </p>
                </div>
                <a class="propertyCard-contactsItem" data-test="contact-agent-email-button" title="Email agent">
                    <div class="propertyCard-contactButton">
                        <div class="no-svg-envelope propertyCard-contactButtonIcon propertyCard-contactButtonIcon--envelope">
                            <svg>
                                <use xlink:href="#search-icon--envelope">
                                </use>
                            </svg>
                        </div>
                    </div>
                    <span class="propertyCard-contactsItemDetails propertyCard-contactsItemDetails--email">
            Email agent        </span>
                </a>
            </div>
            <div class="propertyCard-cutout" role="button" tabindex="0" title="Save property">
                <div class="no-svg-heart-unsaved propertyCard-save propertyCard-save--unsaved">
                    <svg>
                        <use xlink:href="#search-icon--heart-unsaved">
                        </use>
                    </svg>
                </div>
                <div class="no-svg-heart-saved propertyCard-save propertyCard-save--saved">
                    <svg>
                        <use xlink:href="#search-icon--heart-saved">
                        </use>
                    </svg>
                </div>
            </div>
        </div>
        <div class="propertyCard-keywords is-hidden" data-test="keyword-highlights">
            <div class="propertyCard-keywordsContainer">
                <div class="propertyCard-keywordTags">
                    <div class="propertyCard-keywordTag" data-test="keyword-tag">
                        <span class="keyword"></span>
                    </div>
                </div>
                <div class="propertyCard-keywordsFeaturedProperty">
                    FEATURED PROPERTY
                </div>
            </div>
        </div>
    </div>
</div>